### Pebble ###
build
packages
.lock-waf*

### WebApp ###
dist
temp
.tmp
.sass-cache
bower_components
web/scripts/configuration.json
web/scripts/debug.js

### Node ###
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### ctags ###
tags

### Intellij ###
.idea
