### Pebble ###
build
.lock-waf*

### WebApp ###
dist
.tmp
.sass-cache
bower_components

### Node ###
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### ctags ###
tags

### Intellij ###
.idea
