{
   "clientKey": "",
   "deviceId": "",
   "commands": [
     {"name": "AirCold", "message": "{\"format\":\"raw\",\"data\":[0,1,2],\"freq\":38}"},
     {"name": "AirWarm", "message": "{\"format\":\"raw\",\"data\":[1,2,3],\"freq\":38}"},
     {"name": "AirOff", "message": "{\"format\":\"raw\",\"data\":[4,5,6],\"freq\":38}"}
   ]
 }